
$canvas-background: #f5f5f5;
$primary-color: #389bff;
$secondary-color: #67c50c;
$primary-text-color: #2d3339;
$secondary-text-color: #687582;
$white: #fff;

$color-success: #6fba65;
$color-warning: #a73e19;
$color-error: #d01515;
